body{font-size:14px; color:#111; background:#f2f2f2; font-family: 'Lato', sans-serif;}


ul,li,p,h1,h2,h3,h4,h5,h6{padding:0px; margin:0px; list-style:none;}

.removepadd{padding-right:0px; padding-left:0px;}
.removepadd01{padding-right:0px; padding-left:0px;}

.removepaddcl-left{padding-left:0px;}
.removepaddcl-right{padding-right:0px;}

::-webkit-input-placeholder {
    color:555 !important;
}

::-moz-placeholder {
    color:555 !important;
}

::-ms-placeholder {
    color:555;
}

::placeholder {
    color:555 !important;
}

textarea::-webkit-input-placeholder {
color: #555 !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
color: #555 !important;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
color: #555 !important;  
}

textarea:-ms-input-placeholder {
color: #555 !important;  
}


.dropdown-menu{}
.dropdown-menu li{margin:0px !important; padding:0px !important; display:block !important;}
.dropdown-menu li a{display:block !important; padding:6px 10px !important; font-size:14px !important;}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/*default style remove nav*/
.navbar{min-height:0px;}
.navbar-default{background:none; border:none; box-shadow:none; margin:0px; padding:0px;}


/* ******************************************************** site managment ******************************************************** */


.container-fluid{max-width:1600px;}


.site-heading{}
.site-heading h3{color:#36508a; font-size:36px;}

/* *********************************************************** backgrounds *********************************************************** */

.bg-green{background:#7bb82f !important;}
.bg-purple{background:#8c6cab !important;}
.bg-orange{background:#e68524 !important;}
.bg-white{background:#fff !important;}

/* ************************************************************** colors ************************************************************** */

.clr-green{color:#7bb82f !important;}
.clr-purple{color:#8c6cab !important;}
.clr-orange{color:#e68524 !important;}
.clr-white{color:#fff !important;}
.clr-blue{color:#2b3b82 !important;}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.text{color:#505050; font-size:16px;}

.up-case{text-transform:uppercase;}
.low-case{text-transform:lowercase;}


.site-btn{}
.site-btn a{color:#fff; background:#2b3b82; display:inline-block; text-decoration:none; font-size:16px; border-radius:3px; padding:10px 30px; font-weight:400; transition: 0.2s all;}
.site-btn a:hover{background:#e68524;}

.site-btn button{color:#fff; background:#2b3b82; border:none; outline:none; display:inline-block; text-decoration:none; font-size:16px; border-radius:3px; padding:10px 30px; font-weight:400; transition: 0.2s all;}
.site-btn button:hover{background:#e68524;}

a.btn-small{display:inline-block; text-decoration:none !important; color:#fff; font-size:16px; background:#2b3b82; border:2px solid #2b3b82; border-radius:3px; padding:4px 14px; box-shadow:0px 5px 7px 5px #ececec; transition: 0.2s all;}
a.btn-small:hover{background:#fff; color:#2b3b82;}

.btn-small2{display:inline-block; margin-right:2px; text-decoration:none !important; color:#222; font-size:16px; background:#ddd; border:2px solid #ddd; border-radius:3px; padding:4px 14px; box-shadow:0px 5px 7px 5px #ececec; transition: 0.2s all;}
.btn-small2:hover{background:#999; border:2px solid #999;}

button.btn-small{display:inline-block; text-decoration:none !important; color:#fff; font-size:16px; background:#2b3b82; border:2px solid #2b3b82; border-radius:3px; padding:4px 14px; box-shadow:0px 5px 7px 5px #ececec; transition: 0.2s all;}
button.btn-small:hover{background:#fff; color:#2b3b82;}

.dropdown-menu{left:auto; right:0px;}

.our-heading{padding:14px 20px; border-bottom:2px solid #ececec; background:#f9fbfc;}
.our-heading h3{color:#283a84; font-size:20px; font-weight:700;}

/* site managment closed */

/* ************************************************************** main-site-area ************************************************************** */

.main-site-area{}

/* ************************************************************** main-site-area closed ************************************************************** */


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* header */

header.main-header-wrapper{background:#fff; position:fixed; top:0px; right:0px; box-shadow:10px 0px 10px 1px #e0e0e0; padding:6px; z-index:333; width:calc(100% - 251px); transition: 0.2s all;}
header.main-header-wrapper.active{width:100%;}
	.top-left-header{float:left;}
	.top-left-header a{display:inline-block; text-decoration:none; color:#2b3b82; font-size:14px;}
	.top-left-header a i{display:inline-block; color:#2b3b82; font-size:16px; line-height:34px; padding:0px 8px;}
	.top-left-header ul{}
	.top-left-header ul li{display:inline-block; position:relative;}
	.top-left-header ul li a{}
	.top-left-header ul li ul{position:absolute; top:100%; background:#fff; width:150px; display:none; padding:0px 0px; box-shadow:0px 0px 0px 1px #e0e0e0;}
	.top-left-header ul li:hover ul{display:block;}
	.top-left-header ul li ul li{display:block; position:relative; border-bottom:1px solid #f1f1f1;}
	.top-left-header ul li ul li:last-child{border-bottom:0px;}
	.top-left-header ul li ul li a{display:block; padding:8px 12px; font-size:13px;}
	.top-left-header ul li ul li a i{float:right; line-height:17px; font-size:11px; padding:0px;}
	.top-left-header ul li ul li a:hover{background:#2b3b82; color:#fff;}
	.top-left-header ul li ul li a:hover i{color:#fff;}
	.top-left-header ul li ul li > ul{position:absolute; top:0px; right:-150px; display:none; opacity:0; visibility:hidden;}
	.top-left-header ul li ul li:hover > ul{display:block; opacity:1; visibility:visible;}
	.top-left-header ul li ul li > ul li{}
	.top-left-header ul li ul li > ul li a{}

	.top-right-header{float:right;}
	.top-right-header ul{}
	.top-right-header ul li{display:inline-block; margin:0px 8px;}
	.top-right-header ul li:last-child{margin-right:0px;}
	.top-right-header ul li a{display:inline-block; text-decoration:none; color:#2b3b82; font-size:16px; position:relative;}
	.top-right-header ul li a span{position:absolute; top:-5px; right:-5px; background:#e68524; color:#fff; font-size:10px; width:15px; height:15px; line-height:15px; border-radius:50%; text-align:center;}
	.top-right-header ul li a i{}
	.top-right-header ul li a img{display:inline-block; max-width:35px; max-height:35px; border-radius:50%;}

/* header closed */

/* left fixed menu */

.fixed-left-menu-wrapper{position:fixed; top:0px; left:0px; bottom:0px; background:#fff; box-shadow:0px 0px 10px 1px #e0e0e0; overflow-y:visible; width:250px; z-index:222; transition: 0.2s all;}
.fixed-left-menu-wrapper.active{left:-200px; overflow-y:visible;}
.fixed-left-menu-wrapper.active .hide-wraper{display:none;}
.fixed-left-menu-wrapper.active span{display:none;}
.fixed-left-menu-wrapper.active a{text-align:right;}
.fixed-left-menu-wrapper.active i{margin-right:0px;}
.fixed-left-menu-wrapper ul li ul{background:#fff !important; height:auto !important; box-shadow:0px 0px 5px 0.1px #999; position:absolute; display:block; width:150px; right:-130px; top:0px; opacity:0; visibility:hidden; text-align:left; transition: 0.5s all;}
.fixed-left-menu-wrapper.active ul li ul li{background:#fff !important; z-index:111;}
.fixed-left-menu-wrapper.active ul li ul li a{text-align:left; padding:7px 15px;}
.fixed-left-menu-wrapper ul li:hover ul{opacity:1; visibility:visible; right:-151px;}
.fixed-left-menu-wrapper ul{}
.fixed-left-menu-wrapper ul li{border-bottom:1px solid #f1f1f1; position:relative; z-index:555;}
.fixed-left-menu-wrapper ul li a{display:block !important; text-decoration:none; padding:13px 20px; font-size:14px; color: #2b3b82; transition: 0.2s all;}
.fixed-left-menu-wrapper ul li a img{width:100px;}
.fixed-left-menu-wrapper ul li a i{display:inline-block; margin-right:3px;}
.fixed-left-menu-wrapper ul li a span{display:inline-block; margin-left:3px; float:right; line-height:20px;}
.fixed-left-menu-wrapper ul li a .hide-wraper{display:inline-block;}
.fixed-left-menu-wrapper ul li:hover a{background:#fff; color:#2b3b82;}
.fixed-left-menu-wrapper ul li:first-child{background:#fff;}
.fixed-left-menu-wrapper ul li:first-child a:hover{background:none;}
.fixed-left-menu-wrapper ul li ul li:first-child a:hover{background:#2b3b82;}

.fixed-left-menu-wrapper ul li ul{margin:0px; background:#133d5f !important;}
.fixed-left-menu-wrapper ul li ul li{background:none;}
.fixed-left-menu-wrapper ul li ul li:first-child{background:#133d5f;}
.fixed-left-menu-wrapper ul li ul li a{padding:7px 20px; font-size:13px; color:#2b3b82; background:none;}
.fixed-left-menu-wrapper ul li ul li a i{font-size:10px; margin-right:2px; display:inline-block; transform:translateY(-2px);}
.fixed-left-menu-wrapper ul li ul li a:hover{background:#2b3b82; color:#fff;}

/* left fixed menu closed */


/* main-site area wrapper */

.main-site-area-wrapper{padding:74px 10px 30px 0px; float:right; width:calc(100% - 250px); transition: 0.2s all;}
.main-site-area-wrapper.active{width:calc(100% - 36px); padding-left:15px;}

/* main-site area wrapper closed */



/* admin profile page */

.admin-dashboard-wrapper{}
	.dashboard-heading{padding:0px 5px 0px 15px;}
	.dashboard-heading h2{color:#36404a; font-size:20px; float:left;}
	.dashboard-heading ul{}
	.dashboard-heading ul li{color:#9b9c9c; font-size:16px; float:right;}

	.dashboard-profile{margin-top:20px; background:#fff; text-align:center; border:1px solid #dbdbdb; border-radius:5px; height:600px; position:relative;}
	.dashboard-profile .show-profile{display:inline-block; text-align:center; padding:15px; max-width:186px;}
	.dashboard-profile .show-profile img{display:inline-block; max-width:100%; max-height:163px;}
	.dashboard-profile .show-profile label{display:block; padding-top:8px;}
	.dashboard-profile .show-profile label input[type="file"]{display:none;}
	.dashboard-profile .show-profile label span{cursor:pointer; display:inline-block; color:#323232; font-size:14px;}

		.media-wrapper{margin-top:0px; text-align:left;}
		.media-wrapper ul{}
		.media-wrapper ul li{position:relative;}
		.media-wrapper ul li:nth-child(even){background:#fafcf7;}
		.media-wrapper ul li span{display:block; position:absolute; top:50%; right:-10px; transform:translateY(-50%); font-size:30px; opacity:0; visibility:hidden;}
		.media-wrapper ul li:hover span{opacity:1; visibility:visible; color:#2b3b82;}
		.media-wrapper ul li.active a{background:#2b3b82; color:#fff;}
		.media-wrapper ul li.active span{opacity:1; visibility:visible; color:#2b3b82;}
		.media-wrapper ul li a{display:block; text-decoration:none; font-size:13px; color:#2b3b82; font-weight:700; padding:12px 10px;}
		.media-wrapper ul li a i{display:inline-block; margin-right:5px; width:15px;}
		.media-wrapper ul li a:hover{background:#2b3b82; color:#fff;}


	.dashboard-content{margin-top:20px; background:#fff; border:1px solid #dbdbdb; border-radius:5px; height:600px; overflow-y:auto; position:relative; padding-bottom:57px;}
	.dashboard-content .form-heading{border-bottom:1px solid #e7e7e7; margin-bottom:20px;}
	.dashboard-content .form-heading h2{color:#727980; font-size:17px; padding:14px 15px;}

	.dashboard-content .form-wrapper{}
	.dashboard-content .form-wrapper label{display:block; padding-bottom:8px;}
	.dashboard-content .form-wrapper label span{display:block; padding-bottom:3px; font-size:13px; color:#6f6f6f;}
	.dashboard-content .form-wrapper label input{display:block; padding:0px 10px; width:100%; outline:none; height:28px; border:1px solid #cecece;}
	.dashboard-content .form-wrapper label textarea{display:block; padding:0px 10px; width:100%; outline:none; height:80px; border:1px solid #cecece;}

	.dashboard-content .form-wrapper .radio-btns label{display:inline-block; margin-right:30px;}
	.dashboard-content .form-wrapper .radio-btns label input{display:inline-block; width:auto; outline:none; height:auto; border:1px solid #cecece;}
	.dashboard-content .form-wrapper .radio-btns label span{display:inline-block;}

	.height-wrapper{position:relative;}
	.height-wrapper .save-btn-wrapper{position:absolute; bottom:1px; left:0px; right:0px; text-align:center; padding:12px 15px; background:#fff; margin:0px 1px; border-radius:0px 0px 5px 5px; background:#fbfff7; border-top:1px solid #e7e7e7;}
	.height-wrapper .save-btn-wrapper button{display:inline-block; background:#2b3b82; width:90px; margin:0px 2px; color:#fff; border:none; outline:none; font-size:14px; border-radius:3px; padding:6px 2px; transition: 0.2s all;}
	.height-wrapper .save-btn-wrapper button:hover{background:#e68524;}


.social-media{}
.social-media ul{padding:30px 0px 0px;}
.social-media ul li{display:inline-block; padding:0px 15px;}
.social-media ul li a{color:#2b3b82; text-decoration:none; display:inline-block; font-size:16px;}
.social-media ul li a:hover{color:#e68524;}

/* admin profile page closed */


/* modals form */

.modals-forms{}
.modals-forms .input-grp{padding:7px 0px; display:flex;}
.modals-forms .input-grp span{display:block; color:#7a7a7a; font-size:14px; padding-bottom:2px; flex:1; background:#ddd; text-align:center; height:35px; padding-top:6px;}
.modals-forms .input-grp input{display:block; color:#7a7a7a; font-size:13px; padding:0px 10px; flex:5; width:100%; outline:none; border:1px solid #e1e1e1; background:#fff; height:35px;}
.modals-forms .input-grp select{display:block; color:#7a7a7a; font-size:13px; padding:0px 10px; flex:5; width:100%; outline:none; border:1px solid #e1e1e1; background:#fff; height:35px;}

/* modals form closed */


/* manage content */

.width-10{width:10%;}
.width-15{width:15%;}
.width-20{width:20%;}
.width-25{width:25%;}
.width-30{width:30%;}
.width-35{width:35%;}
.width-40{width:40%;}
.width-45{width:45%;}
.width-50{width:50%;}
.width-100{width:100%;}


.manage-content-wrapper{}

	.manage-content-area{background:#fff; border:1px solid #cecece; border-radius:5px; margin:10px 5px 0px 15px;}
	.manage-content-area ul.mange-heading{border-bottom:1px solid #ddd;}
	.manage-content-area ul.mange-heading li{float:left; padding:6px 12px;}
	.manage-content-area ul.mange-heading li span{display:block; color:#4a4a4a; font-size:15px; font-weight:700;}

	.manage-content-area ul.manage-text{}
	.manage-content-area ul.manage-text:nth-child(2n+2){background:#fbfbfb;}
	.manage-content-area ul.manage-text li{float:left; padding:7px 12px;}
	.manage-content-area ul.manage-text li span{display:block; color:#4a4a4a; font-size:12px; font-weight:400; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
	.manage-content-area ul.manage-text li a{display:inline-block; text-decoration:none; margin:0px 2px; width:18px; height:18px; line-height:14px; text-align:center; color:#fff; background:#c2c2c2; border-radius:1px;}
	.manage-content-area ul.manage-text li a:nth-child(1){background:#c2c2c2;}
	.manage-content-area ul.manage-text li a:nth-child(2){background:#d84a38;}
	.manage-content-area ul.manage-text li a:nth-child(3){background:#89c04e;}
	.manage-content-area ul.manage-text li a i{display:inline-block; font-size:9px;}
	.manage-content-area ul.manage-text li a:hover{}



.content-sorting{margin:15px 5px 15px 15px;}
.content-sorting .in-left{float:left;}
.content-sorting .in-left label{}
.content-sorting .in-left label select{display:inline-block; outline:none; padding:0px 5px; color:#828282; font-size:16px; border:1px solid #ccc; background:#fff; height:35px; width:60px;}
.content-sorting .in-left label span{display:inline-block; margin-left:10px; color:#7d7d7d; font-size:16px;}

.content-sorting .in-right{float:right;}
.content-sorting .in-right a{}

/* manage content closed */


/*


font-family: 'Lato', sans-serif;

transition: 0.2s all;

transition: 0.3s all;

transition: 0.5s all;

transition: 0.4s all;

*/
/* admin login */

.admin_login_bg{width:100%;float:left;background:url(../images/admin-login-bg.jpg) no-repeat left;background-size:cover;height:100vh;}
.admin_login_main{width: 470px;display: inline-block;background: #fff;transform: translate(-50%,-50%);top: 50%;left: 50%;position: absolute;padding:50px 20px;box-shadow:15px 0px 38px rgba(0,0,0,.4);}
.admin_login_text{width:100%;display:inline-block;text-align:center;color:#282828;font-size:36px;padding-bottom:30px;text-transform:uppercase;}
.admin_login_main_ul{width:100%;float:left;}
.admin_login_main_ul li{width:100%;margin-bottom:20px; float:left;border:1px solid #9d9d9d;padding:0px 10px;border-radius:5px;}
.admin_login_main_ul li input{width:96%;float:right;font-size:16px;color:#424242;padding:13px 0px 13px 10px;border:none;background:none;}
.admin_login_main_ul li i{float:left;padding-top: 16px;color:#a6a6a6;}
.admin_login_main_ul li input[type='submit']{width:100%;display:inline-block;background:#89c04e;color:#fff;border:1px solid #89c04e;font-size:20px;padding:13px 0px;box-shadow: -2px 6px 18px rgba(0,0,0,.1);text-transform:uppercase;}
.admin_login_main_ul li input[type='submit']:hover{background:#fff;color:#89c04e;border:1px solid #89c04e;}
.admin_login_main_ul li input:focus{outline:none;}
.admin_login_main_ul li:last-child{padding:0px;}
.forgot_pasword_admin{width:100%;display:inline-block;text-align:center;color:#333333;font-size:16px;padding-top:10px;}

/* admin login closed */
/*tabs dropdown*/
.drop_down_tab_main{width:100%;float:left;margin-bottom:30px;background: #fff;padding: 10px;box-shadow: 0px 0px 5px rgba(0,0,0,.2);border-radius: 5px;}
.drop_down_tab_main .nav-tabs{border:none;}
.drop_down_tab_main .nav-tabs>li>a{margin:0px;line-height:inherit;border:none;border-radius: inherit;}
.drop_down_tab_main .nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover{background:#2b3b82;color:#fff;border: 1px solid #2b3b82;}
.drop_down_tab_main .nav>li>a{background:#fff;color:#2b3b82;padding:6px 25px;font-size:16px;border:1px solid #000000;}
.drop_down_tab_main .nav-tabs>li{padding-left:10px;}
.drop_down_tab_main .nav-tabs>li:first-child{padding-left:0px;}
.margin_imran{margin:10px 0px;}
.dropsown_sub_links{width:100%;float:left;background:#2b3b82;padding:10px;margin-bottom:10px;}
.dropsown_sub_links li{float:left;padding-left:10px;}
.dropsown_sub_links li:first-child{padding-left:0px;}
.dropsown_sub_links li:first-child a{padding-left:0px;border:none;}
.dropsown_sub_links li a{float:left;color:#fff;border-left:1px solid #fff;padding-left:10px;}
.margin_imran2{margin: 5px 0px 10px 0px;}




@media(max-width:1199px){




}



@media(max-width:991px){

.dashboard-profile{height:auto;}

header.main-header-wrapper{width:100%;}
header.main-header-wrapper.active{width:calc(100% - 251px);}

.fixed-left-menu-wrapper{left:-200px; width:250px;}
.fixed-left-menu-wrapper.active{left:0px; overflow-y:auto;}
.fixed-left-menu-wrapper{overflow-y:visible;}
.fixed-left-menu-wrapper .hide-wraper{display:none !important;}
.fixed-left-menu-wrapper.active .hide-wraper{display:inline-block !important;}
.fixed-left-menu-wrapper span{display:none !important;}
.fixed-left-menu-wrapper.active span{display:inline-block !important;}
.fixed-left-menu-wrapper.active a{text-align:left;}
.fixed-left-menu-wrapper a{text-align:right;}
.fixed-left-menu-wrapper i{margin-right:0px !important;}
.fixed-left-menu-wrapper.active i{margin-right:3px !important;}

.fixed-left-menu-wrapper ul li ul{background:#fff !important; height:auto !important; box-shadow:0px 0px 5px 0.1px #999; position:absolute; display:block; width:150px; right:-130px; top:0px; opacity:0; visibility:hidden; text-align:left; transition: 0s all;}
.fixed-left-menu-wrapper.active ul li ul{background:#fff !important; height:0px !important; box-shadow:none; position:static; display:block; width:auto; right:-130px; top:0px; opacity:1; visibility:visible; text-align:left; transition: 0.1s all;}
.fixed-left-menu-wrapper.active ul li:hover ul{}
.fixed-left-menu-wrapper ul li ul{background:#fff !important; height:auto !important; box-shadow:0px 0px 5px 0.1px #999; position:absolute; display:block; width:150px; right:-130px; top:0px; opacity:0; visibility:hidden; text-align:left; transition: 0.5s all;}

.fixed-left-menu-wrapper.active ul li ul li{background:#fff !important; z-index:111;}
.fixed-left-menu-wrapper ul li ul li{background:#fff !important; z-index:111;}
.fixed-left-menu-wrapper.active ul li ul li a{text-align:left; padding:7px 15px;}
.fixed-left-menu-wrapper ul li ul li a{text-align:left; padding:7px 15px;}
.fixed-left-menu-wrapper.active ul li ul li a{text-align:left; padding:7px 41px;}
.fixed-left-menu-wrapper.active ul li:hover ul{opacity:1; visibility:visible; right:-151px;}
.fixed-left-menu-wrapper ul li:hover ul{opacity:1; visibility:visible; right:-151px;}

.main-site-area-wrapper{width:calc(100% - 55px);}
.main-site-area-wrapper.active{width:calc(100% - 275px);}

.fixed-left-menu-wrapper.active .collapse{height:0px !important; display:none !important;}
.fixed-left-menu-wrapper.active .collapse.in{height:auto !important; display:block !important;}


}





@media(max-width:767px){

.removemobilepad{padding-left:0px; padding-right:0px;}
.removepadd{padding-right:15px; padding-left:15px;}

.main-header-wrapper.active .top-right-header{display:none;}
.main-header-wrapper .top-right-header{display:block;}




}