@font-face {
	font-family: 'MyriadPro-Regular';
	src: url('../fonts/MyriadPro-Regular.eot?') format('eot'), 
	     url('../fonts/MyriadPro-Regular.otf')  format('opentype'),
	     url('../fonts/MyriadPro-Regular.woff') format('woff'), 
	     url('../fonts/MyriadPro-Regular.ttf')  format('truetype'),
	     url('../fonts/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
}

body{font-size:14px; color:#111; background:#e3ebee; font-family: 'Lato', sans-serif;}


ul,li,p,h1,h2,h3,h4,h5,h6{padding:0px; margin:0px; list-style:none;}

.removepadd{padding-right:0px; padding-left:0px;}
.removepadd01{padding-right:0px; padding-left:0px;}

.removepaddcl-left{padding-left:0px;}
.removepaddcl-right{padding-right:0px;}

::-webkit-input-placeholder {
    color:555 !important;
}

::-moz-placeholder {
    color:555 !important;
}

::-ms-placeholder {
    color:555;
}

::placeholder {
    color:555 !important;
}

textarea::-webkit-input-placeholder {
color: #555 !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
color: #555 !important;  
}

textarea::-moz-placeholder {  /* Firefox 19+ */
color: #555 !important;  
}

textarea:-ms-input-placeholder {
color: #555 !important;  
}

.off-apperance{position:relative; z-index:1; background:#eff5f7;}
.off-apperance::after{display:block; font-weight:600; font-family: 'Font Awesome\ 5 Free'; content:"\f107"; position:absolute; top:50%; right:15px; transform:translateY(-50%); color:#2e3c81; font-size:20px; z-index:-1;}
.off-apperance select{-moz-appearance:none; -webkit-appearance:none; appearance:none; cursor:pointer;}



/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/*default style remove nav*/
.navbar{min-height:0px;}
.navbar-default{background:none; border:none; box-shadow:none; margin:0px; padding:0px;}


/* ******************************************************** site managment ******************************************************** */


.container-fluid{max-width:1600px;}


.site-heading{}
.site-heading h3{color:#36508a; font-size:36px;}

/* *********************************************************** backgrounds *********************************************************** */

.bg-green{background:#7bb82f !important;}
.bg-purple{background:#8c6cab !important;}
.bg-orange{background:#e68524 !important;}
.bg-white{background:#fff !important;}

/* ************************************************************** colors ************************************************************** */

.clr-green{color:#7bb82f !important;}
.clr-purple{color:#8c6cab !important;}
.clr-orange{color:#e68524 !important;}
.clr-white{color:#fff !important;}
.clr-blue{color:#2b3b82 !important;}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.text{color:#505050; font-size:16px;}

.up-case{text-transform:uppercase;}
.low-case{text-transform:lowercase;}

.site-btn{}
.site-btn a{color:#fff; background:#2b3b82; display:inline-block; text-decoration:none; font-size:16px; border-radius:3px; padding:10px 30px; font-weight:400; transition: 0.2s all;}
.site-btn a:hover{background:#e68524;}

.site-btn button{color:#fff; background:#2b3b82; border:none; outline:none; display:inline-block; text-decoration:none; font-size:16px; border-radius:3px; padding:10px 30px; font-weight:400; transition: 0.2s all;}
.site-btn button:hover{background:#e68524;}

a.btn-small{display:inline-block; text-decoration:none !important; color:#fff; font-size:14px; background:#2b3b82; border:2px solid #2b3b82; border-radius:3px; padding:2px 14px; box-shadow:0px 5px 7px 5px #ececec; transition: 0.2s all;}
a.btn-small:hover{background:#fff; color:#2b3b82;}

.dropdown-menu{left:auto; right:0px;}

.our-heading{padding:14px 20px; border-bottom:2px solid #ececec; background:#f9fbfc;}
.our-heading h3{color:#283a84; font-size:20px; }

button.btn-small{display:inline-block; text-decoration:none !important; color:#fff; font-size:14px; background:#2b3b82; border:2px solid #2b3b82; border-radius:3px; padding:2px 14px; box-shadow:0px 5px 7px 5px #ececec; transition: 0.2s all;}
button.btn-small:hover{background:#fff; color:#2b3b82;}

/* site managment closed */

/* ************************************************************** main-site-area ************************************************************** */

.main-site-area{}

/* ************************************************************** main-site-area closed ************************************************************** */


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/*
font-family: 'Lato', sans-serif;
transition: 0.2s all;
transition: 0.3s all;
transition: 0.5s all;
transition: 0.4s all;
*/
input{
	outline:none;
}
/**************ahmad css**********************
/* ******************************************************************* site header ******************************************************************* */


header.complate-main-header-wrapper{}

	.main-header-wrapper{border-bottom:1px solid #e3ebee;}

		.site-logo-here{padding:15px 0px;}
		.site-logo-here a{display:inline-block;}
		.site-logo-here a img{display:inline-block; max-width:150px;}

		.main-header-search{padding:10px 0px;}
		.main-header-search form{position:relative;}
		.main-header-search form::after{display:block; content:""; width:3px; height:100%; background:linear-gradient(#ae5c43, #283a84); position:absolute; left:0px; top:0px; bottom:0px;}
		.main-header-search form input{display:block; outline:none; width:100%; border:none; background:#eff5f7; height:40px; font-size:13px; padding-left:52px; padding-right:15px;}
		.main-header-search form button{font-weight:600; position:absolute; top:0px; left:0px; height:40px; border:none; outline:none; color:#283a84; padding:0px 15px 0px 18px; background:#eff5f7; font-size:15px; transition: 0.2s all;}
		.main-header-search form button:hover{color:#e68524;}

		.main-header-profile{text-align:right; padding:10px 0px;}
		.main-header-profile ul{}
		.main-header-profile ul li{display:inline-block; line-height:37px; margin:0px 14px;}
		.main-header-profile ul li:last-child{margin-right:0px;}
		.main-header-profile ul li a{display:inline-block; text-decoration:none; color:#283a84; position:relative; transition: 0.2s all;}
		.main-header-profile ul li a span{display:block; width:14px; height:14px; line-height:14px; text-align:center; color:#fff; font-size:8px; border-radius:50%; background:#ff0000; position:absolute; top:1px; left:-3px;}
		.main-header-profile ul li a i{display:inline-block; font-size:19px;}
		.main-header-profile ul li a img{width:37px; height:37px; border-radius:50%; display:inline-block;}
		.main-header-profile ul li a:hover{color:#f36e21;}


		/* **************************** site navigation bar **************************** */

		nav.main-site-menu-wrapper{border-bottom:1px solid #e3ebee;}
		nav.main-site-menu-wrapper ul{float:none; text-align:center;}
		nav.main-site-menu-wrapper ul li{float:none; display:inline-block;}
		nav.main-site-menu-wrapper ul li a{display:inline-block; text-decoration:none; color:#283a84 !important; font-size:16px; text-transform:capitalize; font-weight:700; padding:13px 30px; position:relative; transition: 0.2s all;}
		nav.main-site-menu-wrapper ul li a::after{display:block; content:""; position:absolute; bottom:-1px; left:0px; right:0px; height:2px; width:100%; background:#e68524; opacity:0; transition: 0.2s all;}
		nav.main-site-menu-wrapper ul li a:hover::after{opacity:1;}
		nav.main-site-menu-wrapper ul li a i{display:inline-block; margin-right:5px;}
		nav.main-site-menu-wrapper ul li a:hover{color:#e68524 !important;}

		/* **************************** site navigation bar closed **************************** */


/* *************************************************************** site header closed *************************************************************** */


/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* ************************************************************* pricing page start here ************************************************************* */

.main-price-wrapper{padding:50px 0px 70px;}

.main-price-wrapper .site-heading{padding-bottom:22px;}
.main-price-wrapper .site-heading h3{line-height:48px;}

	.ah-comon-pricing{padding:10px 10px 30px; border-radius:3px; box-shadow:0px 0px 5px 1px #e3e9eb; border-bottom:1px solid #d2d9dc; margin-top:30px;}
	.ah-comon-pricing .price-tophead{border-radius:3px; padding:20px 15px;}
	.ah-comon-pricing .price-tophead i{display:inline-block; font-size:38px;}
	.ah-comon-pricing .price-tophead h3{font-size:25px; margin-top:8px;}

	.ah-comon-pricing .price-content{}
	.ah-comon-pricing .price-content .text{color:#888; line-height:46px; padding:12px 10px 15px;}
	.ah-comon-pricing .price-content h3{font-size:22px; font-weight:400;}
	.ah-comon-pricing .price-content h4{padding:15px 0px 25px; font-size:22px; font-weight:400;}
	.ah-comon-pricing .price-content .site-btn{}
	.ah-comon-pricing .price-content .site-btn a{padding:10px 50px;}


/* ************************************************************ pricing page start here closed ************************************************************ */


/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */



/* ************************************************************* signUp page start here ************************************************************* */

.ah-signup-wrapper{display:flex; min-height:100vh;}
.ah-signup-wrapper .container{background:linear-gradient(#293a83, #ae5c43); padding:0px; display:flex; flex-wrap:wrap; max-width:955px;}

	.center-me{margin:auto;}

	.signUp-flex1{flex-basis:40%; padding:0px 0px; display:flex; background:url(images/map-bg.png)no-repeat center 30%;}
	.signUp-flex2{flex-basis:60%; padding:40px 60px;}

	.ah-signUp-heading{margin:auto; padding:50px 50px;}
	.ah-signUp-heading h2{color:#fff; font-size:58px; font-weight:700;}
	.ah-signUp-heading .text{color:#d6d6d6; font-size:16px; margin-top:20px;}

	.ah-signUp-content{}
	.ah-signUp-content .logo-wrapper{}
	.ah-signUp-content .logo-wrapper a{display:inline-block;}
	.ah-signUp-content .logo-wrapper a img{display:inline-block; max-width:100%;}

	.ah-signUp-content .signUp-form{margin-top:40px;}
	.ah-signUp-content .signUp-form input{display:block; width:100%; border:1px solid #e8ebec; color:#555; font-size:16px; background:#eff5f7; padding:0px 15px; height:55px; outline:none; margin-bottom:12px;}
	.ah-signUp-content .signUp-form .site-btn{padding-top:20px;}
	.ah-signUp-content .signUp-form button{display:block; width:100%; padding:0px 15px; height:55px; font-size:19px; letter-spacing:1px;}
	.ah-signUp-content .signUp-form button:hover{}

	.ah-signUp-content .signUp-form select{display:block; width:100%; border:1px solid #e8ebec; color:#555; font-size:16px; background:none; padding:0px 15px; height:55px; outline:none; margin-bottom:12px;}

	.ah-signUp-content .signUp-form .inner-form-content{text-align:center;}
	.ah-signUp-content .signUp-form .inner-form-content input{text-align:center; font-size:30px; letter-spacing:5px;}
	.ah-signUp-content .signUp-form .inner-form-content h3{font-size:30px; font-weight:700;}
	.ah-signUp-content .signUp-form .inner-form-content .text{color:#303030; font-size:16px; font-weight:400; padding:15px 0px 25px;}


	.ah-signUp-content .signUp-steps{margin-top:40px;}
	.ah-signUp-content .signUp-steps ul{width:100%; position:relative; z-index:1;}
	.ah-signUp-content .signUp-steps ul::after{display:block; content:""; position:absolute; top:22px; left:0px; right:0px; height:1px; width:100%; background:#ab5f49; z-index:-1;}
	.ah-signUp-content .signUp-steps ul li{float:left; width:33.33%;}
	.ah-signUp-content .signUp-steps ul li:first-child{text-align:left;}
	.ah-signUp-content .signUp-steps ul li:last-child{text-align:right;}
	.ah-signUp-content .signUp-steps ul li div{display:inline-block; text-align:center; background:#fff; position:relative;}

	.ah-signUp-content .signUp-steps ul li span{display:inline-block; width:45px; height:45px; background:#fff; line-height:35px; text-align:center; font-weight:700; color:#283a84; font-size:20px; border:5px solid #dbe3e6; border-radius:5px; transition: 0.2s all;}
	.ah-signUp-content .signUp-steps ul li span.active{background:linear-gradient(#293a83, #ae5c43); color:#fff;}
	.ah-signUp-content .signUp-steps ul li strong{display:block; color:#505050; font-size:14px; font-weight:700; margin-top:5px;}
	.ah-signUp-content .signUp-steps ul li h4{display:block; color:#505050; font-size:10px; font-weight:700; margin-top:2px;}
	.ah-signUp-content .signUp-steps ul li span:hover{cursor:pointer;}
	.ah-signup-wrapper .signUp-copyrights{margin-top:100px;}
	.ah-signup-wrapper .signUp-copyrights .text{color:#2f2f2f; font-size:16px;}
	.ad_coment_text{width:100%;float:left;color:#000000;font-size:16px;border:none;padding: 10px 150px 10px 10px;}



/* ************************************************************* signUp page start closed ************************************************************* */


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* ************************************************************ footer styling start ************************************************************ */


footer.main-footer-wrapper{padding:30px 0px 38px; position:relative; float:left; width:100%;}
footer.main-footer-wrapper::after{display:block; content:""; width:100%; height:8px; background:linear-gradient(to right, #ae5c43, #283a84); position:absolute; bottom:0px; left:0px; right:0px;}
footer.main-footer-wrapper .text{color:#111; font-size:16px; margin-top:15px;}

	ul.social-media-footer{}
	ul.social-media-footer li{display:inline-block;}
	ul.social-media-footer li a{display:inline-block; text-decoration:none; width:35px; height:35px; line-height:32px; text-align:center; font-size:14px; color:#999; border-radius:50%; border:1px solid #d2d1d1; margin:0px 10px;}
	ul.social-media-footer li a i{display:inline-block; font-size:12px;}
	ul.social-media-footer li a:hover{color:#fff;  background: linear-gradient(#293a83 , #ae5c43);}


/* ************************************************************ footer styling start closed ************************************************************ */


/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* *************************************************************** Admin View Styling *************************************************************** */

section.admin-view-page-wrapper{padding-bottom:50px;}

	.admin-view-cover{background:url(../images/admin-view-cover.png) no-repeat center center; height:200px; width:100%;}

	.admin-view-profile{}
	.admin-view-profile .my-container{background:#fff; border-bottom:2px solid #d2d9dc; padding:20px; position:relative; margin-top:-78px;}
	.admin-view-profile .inner-frofile{}
	.admin-view-profile .inner-frofile .in-left{float:left;}
	.admin-view-profile .inner-frofile .in-left img{float:left; max-width:116px; max-height:116px;}
	.admin-view-profile .inner-frofile .in-left .profile-name{padding-left:135px; padding-top:10px;}
	.admin-view-profile .inner-frofile .in-left .profile-name h3{color:#000; font-size:20px; font-weight:700; padding-bottom:25px;}
	.admin-view-profile .inner-frofile .in-left .profile-name a{margin-right:10px;}

	.admin-view-profile .inner-frofile .in-right{float:right;}
	.admin-view-profile .inner-frofile .in-right ul{}
	.admin-view-profile .inner-frofile .in-right ul li{display:inline-block;}
	.admin-view-profile .inner-frofile .in-right ul li a{}
	.admin-view-profile .inner-frofile .in-right ul li a i{font-size:20px; display:inline-block; color:#283a84;}
	.admin-view-profile .inner-frofile .in-right ul li ul{}
	.admin-view-profile .inner-frofile .in-right ul li ul li{display:block;}


	.admin-view-update{padding-bottom:30px;}
	.admin-view-update .container{display:flex; flex-wrap:wrap; padding:0px;}

	.admin-view-update .flexible{flex:1; background:#fff; margin:0px 15px; margin-top:30px; border-bottom:2px solid #d2d9dc;}
	.admin-view-update .inner-content{}
	.admin-view-update .inner-content .heading{background:#f9fbfc; padding:14px 20px; border-bottom:2px solid #ececec;}
	.admin-view-update .inner-content .heading h3{float:left; color:#283a84; font-size:20px; font-weight:700;}
	.admin-view-update .inner-content .heading a{float:right; color:#283a84; display:inline-block; font-size:16px;}

	.admin-view-update .inner-content .content-here{padding:20px;}
	.admin-view-update .inner-content .content-here img{display:block; max-width:100%; margin:0px auto; margin-bottom:7px; border-radius:3px;}
	.admin-view-update .inner-content .content-here .text{color:#6c6c6c; font-size:16px; line-height:29px;}


	.admin-view-upgrade{padding-bottom:30px;}
	.admin-view-upgrade .my-container{display:flex; background:#fff; border-bottom:2px solid #d2d9dc; padding:25px 30px;}

	.admin-view-upgrade .flexible h3{font-size:20px; color:#111;}
	.admin-view-upgrade .flexible .content-here{float:left; padding-right:80px; margin-top:20px;}	
	.admin-view-upgrade .flexible .content-here i{display:block; float:left; font-size:15px; color:#9f8333; margin-top:4px;}
	.admin-view-upgrade .flexible .content-here .text{padding-left:30px; font-size:13px; color:#6c6c6c;}

	.admin-view-upgrade .flexible:nth-child(1){flex:2;}
	.admin-view-upgrade .flexible:nth-child(2){flex:1; margin:auto 0px;}

	.admin-view-upgrade .flexible .upgrade-button{text-align:right;}
	.admin-view-upgrade .flexible .upgrade-button a{}
	.admin-view-upgrade .flexible .upgrade-button a:hover{background:#e66f2a; border:2px solid #e66f2a; color:#fff;}


	.admin-view-recentUpdate{}
	.admin-view-recentUpdate .heading{background:#f9fbfc; padding:14px 20px; border-bottom:2px solid #d2d9dc;}
	.admin-view-recentUpdate .heading h3{color:#283a84; font-size:20px; font-weight:700;}

	.admin-view-recentUpdate .widged-wrapper{background:#fff; border-bottom:2px solid #d2d9dc; margin-top:30px; text-align:center;}
	.admin-view-recentUpdate .widged-wrapper h4{color:#000; font-size:16px; padding-top:30px;}
	.admin-view-recentUpdate .widged-wrapper .text{color:#6c6c6c; font-size:16px; padding:15px 0px;}
	.admin-view-recentUpdate .widged-wrapper a{margin-bottom:30px;}
	.admin-view-recentUpdate .widged-wrapper .text-content{border-top:1px solid #e5e5e5; color:#6c6c6c; font-size:16px; padding:12px 10px; line-height:20px;}

	.admin-view-recentUpdate .profile-head{padding-bottom:25px;}
	.admin-view-recentUpdate .profile-head .in-left{float:left;}
	.admin-view-recentUpdate .profile-head .in-left img{display:block; float:left; max-width:80px; max-height:80px;}
	.admin-view-recentUpdate .profile-head .in-left .head-content{padding-left:95px;}
	.admin-view-recentUpdate .profile-head .in-left .head-content h4{color:#000; font-size:16px; padding-bottom:10px;}
	.admin-view-recentUpdate .profile-head .in-left .head-content span{display:block; color:#6c6c6c; font-size:16px; line-height:19px;}

	.admin-view-recentUpdate .profile-head .in-right{float:right;}
	.admin-view-recentUpdate .profile-head .in-right ul{}
	.admin-view-recentUpdate .profile-head .in-right ul li{display:inline-block;}
	.admin-view-recentUpdate .profile-head .in-right ul li a{}
	.admin-view-recentUpdate .profile-head .in-right ul li a i{font-size:20px; display:inline-block; color:#283a84;}
	.admin-view-recentUpdate .profile-head .in-right ul li ul{}
	.admin-view-recentUpdate .profile-head .in-right ul li ul li{display:block;}
	.admin-view-recentUpdate .profile-head .in-right ul li ul li a{}
	.admin-view-recentUpdate .profile-head .in-right ul li ul li a:hover{}

	.show-profile-wrapper{background:#fff; border-bottom:2px solid #d2d9dc; margin-top:30px; padding:25px;}

	.admin-view-recentUpdate .post-profile{}
	.admin-view-recentUpdate .post-profile img{display:block; max-width:100%; margin:0 auto;}
	.admin-view-recentUpdate .post-profile .text{color:#6c6c6c; font-size:16px; padding:10px 0px; line-height:20px;}
	.admin-view-recentUpdate .post-profile ul.comments-section{}
	.admin-view-recentUpdate .post-profile ul.comments-section li{float:left; width:33.33%; margin-top:5px;}
	.admin-view-recentUpdate .post-profile ul.comments-section li:nth-child(1){text-align:left;}
	.admin-view-recentUpdate .post-profile ul.comments-section li:nth-child(2){text-align:center;}
	.admin-view-recentUpdate .post-profile ul.comments-section li:nth-child(3){text-align:right;}
	.admin-view-recentUpdate .post-profile ul.comments-section li a{display:inline-block; text-decoration:none; color:#2b3b82; font-size:15px; font-weight:400; transition: 0.1s all;}
	.admin-view-recentUpdate .post-profile ul.comments-section li a i{display:inline-block; color:#b5b5b5; margin-right:5px;}
	.admin-view-recentUpdate .post-profile ul.comments-section li a:hover{color:#b5b5b5;}

/* *************************************************************** Admin View Styling Closed ******************************************************** */


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* ************************************************************* Edit Profile ************************************************************* */


section.edit-profile-page-wrapper{padding-bottom:50px; padding-top:30px;}
section.edit-profile-page-wrapper .heading-here{padding:0px 15px;}
section.edit-profile-page-wrapper .heading-here h3{color:#283a84; font-size:25px; font-weight:700;}

	.edit-profile-left-area{margin-top:30px;}
	.edit-profile-left-area .edit-wrapper01{margin-top:20px; padding-bottom:25px; border-bottom:2px solid #d2d9dc;}
	.edit-profile-left-area .edit-wrapper01 .text{color:#6c6c6c; font-size:16px; line-height:29px; padding:10px 20px;}
	.edit-profile-left-area .edit-wrapper01 a{}
	.edit-profile-left-area .edit-wrapper01 a:hover{color:#fff; background:#e66f2a; border:2px solid #e66f2a;}

	.edit-profile-left-area .edit-wrapper02{margin-top:20px; padding-bottom:25px; border-bottom:2px solid #d2d9dc;}
	.edit-profile-left-area .edit-wrapper02 .text{color:#6c6c6c; font-size:16px; line-height:29px; padding:10px 20px;}


	.edit-profile-right-area{margin-top:30px;}
	.edit-profile-right-area .edit-profile01{padding:25px; border-bottom:2px solid #d2d9dc;}
	.edit-profile-right-area .edit-profile01 .in-left{float:left;}
	.edit-profile-right-area .edit-profile01 .in-left .ed-profile{cursor:pointer; position:relative; border-radius:50%;}
	.edit-profile-right-area .edit-profile01 .in-left .ed-profile img{width:111px; height:111px; border-radius:50%;}
	.edit-profile-right-area .edit-profile01 .in-left .ed-profile .edit-pencil{position:absolute; top:50%; left:50%; transform:translate(-50%,-50%);}
	.edit-profile-right-area .edit-profile01 .in-left .ed-profile .edit-pencil label{}
	.edit-profile-right-area .edit-profile01 .in-left .ed-profile .edit-pencil label input[type="file"]{display:none;}
	.edit-profile-right-area .edit-profile01 .in-left .ed-profile .edit-pencil label i{display:inline-block; color:#fff; font-size:20px; cursor:pointer; opacity:0; transition: 0.2s all;}
	.edit-profile-right-area .edit-profile01 .in-left .ed-profile:hover .edit-pencil label i{opacity:1;}

	.edit-profile-right-area .edit-profile01 .in-right{padding-left:125px; padding-top:40px;}
	.edit-profile-right-area .edit-profile01 .in-right h3{color:#000; font-size:30px;}
	.edit-profile-right-area .edit-profile01 .in-right h3 i{display:inline-block; margin-left:10px; color:#283a84; font-size:20px; transform:translateY(-3px); cursor:pointer; opacity:0;}
	.edit-profile-right-area .edit-profile01 .in-right h3:hover i{opacity:1;}

	.edit-profile-right-area .edit-profile01 .connection{text-align:right;}
	.edit-profile-right-area .edit-profile01 .connection a{display:inline-block; color:#283a84; font-size:20px;}
	.edit-profile-right-area .edit-profile01 .connection a:hover{}

	.edit-profile02{margin-top:30px;}
	.edit-profile02 .form-wrapper{padding:20px;}
	.edit-profile02 .form-wrapper label{display:block;}
	.edit-profile02 .form-wrapper label span{display:block; color:#5d5d5d; font-size:16px; font-weight:400;}
	.edit-profile02 .form-wrapper label input{display:block; color:#5d5d5d; width:100%; border:none; outline:none; background:#eff5f7; margin:10px 0px 15px; padding:0px 10px; height:50px;}
	.edit-profile02 .form-wrapper label select{display:block; color:#5d5d5d; width:100%; border:none; outline:none; background:#eff5f7; margin:10px 0px 15px; padding:0px 10px; height:50px;}
	.edit-profile02 .form-wrapper label input:focus{}
	.edit-profile02 .form-wrapper label textarea{display:block; color:#5d5d5d; width:100%; border:none; outline:none; background:#eff5f7; margin:10px 0px 15px; padding:0px 10px; height:100px;}
	.edit-profile02 .form-wrapper label textarea:focus{}
	.edit-profile02 .form-wrapper small{color:#a5a5a5; font-size:13px; font-style:italic; font-weight:400;}
	.edit-profile02 .form-wrapper button{margin-right:10px; margin-top:15px; min-width:97px;}
	.edit-profile02 .form-wrapper button:hover{color:#fff; background:#e66f2a; border:2px solid #e66f2a;}

	.edit-profile03{padding-bottom:2px;}
	.edit-profile03 .hr-accontant{margin-top:3px; position:relative; padding:18px;}
	.edit-profile03 .hr-accontant .in-left{float:left;}
	.edit-profile03 .hr-accontant .in-left img{max-width:77px; max-height:77px; display:inline-block;}

	.edit-profile03 .hr-accontant .in-right{padding-left:90px;}
	.edit-profile03 .hr-accontant .in-right h3{color:#283a84; font-size:16px; font-weight:700;}
	.edit-profile03 .hr-accontant .in-right h4{color:#000; font-size:16px; padding:7px 0px 9px;}
	.edit-profile03 .hr-accontant .in-right .text{color:#6c6c6c; font-size:14px;}
   
	.edit-profile03 .hr-accontant .adit-del{position:absolute; top:10px; right:10px;}
	.edit-profile03 .hr-accontant .adit-del a{display:inline-block; margin-left:3px; text-decoration:none; width:32px; height:32px; line-height:32px; text-align:center; color:#2b3b82; background:#fff; border-radius:50%; transition: 0.2s all;}
	.edit-profile03 .hr-accontant .adit-del a i{display:inline-block; font-size:14px;}
	.edit-profile03 .hr-accontant .adit-del a:hover{color:#fff; background:#2b3b82;}

	.edit-profile04{}
	.edit-profile04 .adding-wrapper{margin-top:30px; padding-bottom:30px; border-bottom:2px solid #d2d9dc;}
	.edit-profile04 .adding-wrapper .our-heading{padding:7px 20px;}
	.edit-profile04 .adding-wrapper .our-heading h3{float:left; line-height:34px;}
	.edit-profile04 .adding-wrapper .our-heading a{float:right; width:150px; text-align:center;}
	.edit-profile04 .adding-wrapper .our-heading a:hover{color:#fff; background:#e66f2a; border:2px solid #e66f2a;}

	.edit-profile04 .adding-wrapper .text{color:#6c6c6c; font-size:16px; line-height:29px; padding:10px 20px;}


/* ************************************************************* Edit Profile closed ************************************************************* */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */


/* ********************************************************** invoice price page styling ********************************************************** */

section.main-invoice-price-page{}
section.main-invoice-price-page .heading-here{padding:0px 15px;}
section.main-invoice-price-page .heading-here h3{color:#283a84; font-size:25px; font-weight:700;}

	.invoive-page-left-area{}
	.invoive-page-left-area .text{color:#6c6c6c; font-size:14px; line-height:21px; padding:10px 20px;}
	.invoive-page-left-area .text h4{}

/* ********************************************************** invoice price page styling closed ********************************************************** */





/***************end css*************************/
/********************************************************* Connection page styling *********************************************************/


section.main-connection-page-wrapper{padding-bottom:30px;}
	.connection-left-area{margin-top:30px;}
	.connection-left-area .connetion-wrapper01{padding:25px 15px;}
	.connection-left-area .connetion-wrapper01 h2{color:#283a84; font-size:35px;}
	.connection-left-area .connetion-wrapper01 .text{margin-top:5px; color:#5f5f5f;}
	.connection-left-area .connetion-wrapper01 a{color:#283a84; font-size:18px; display:inline-block; font-weight:700; padding:5px 0px;}
	.connection-left-area .connetion-wrapper01 ul{}
	.connection-left-area .connetion-wrapper01 ul li{display:inline-block; position:relative; margin:0px -8px;}
	.connection-left-area .connetion-wrapper01 ul li a{display:inline-block;}
	.connection-left-area .connetion-wrapper01 ul li a img{display:inline-block; width:44px; height:44px; border-radius:50%;}

	.connection-left-area .connetion-wrapper02{margin-top:2px; padding:25px 15px;}
	.connection-left-area .connetion-wrapper02 .text{color:#5f5f5f;}
	.connection-left-area .connetion-wrapper02 button{margin:13px 0px;}
	.connection-left-area .connetion-wrapper02 a{color:#2b3b82; display:inline-block; font-size:16px; font-weight:700;}


	.connection-right-area{margin-top:30px;}
	.connection-right-area .inner-content01{margin-bottom:15px;}
	.connection-right-area .inner-content01 .inner-content{padding:20px;}
	.connection-right-area .inner-content01 .inner-content .in-left{float:left;}
	.connection-right-area .inner-content01 .inner-content .in-left img{display:inline-block; width:45px; height:45px; border-radius:50%;}
	.connection-right-area .inner-content01 .inner-content .in-right{padding-left:60px;}
	.connection-right-area .inner-content01 .inner-content .in-right .text{color:#4d4d4d; margin-bottom:10px;}
	.connection-right-area .inner-content01 .inner-content .in-right a{}

		.common-connection-wrapper{box-shadow:0px 0px 15px 5px #dfe6e9; padding:35px 15px; margin-top:15px;}
		.common-connection-wrapper .profile{}
		.common-connection-wrapper .profile img{display:inline-block; width:80px; height:80px; border-radius:50%;}
		.common-connection-wrapper h3{color:#5d5d5d; font-size:17px; font-weight:700; padding:25px 0px 5px;}
		.common-connection-wrapper .text{color:#5d5d5d; font-size:15px;}
		.common-connection-wrapper a{display:inline-block; text-decoration:none; color:#5d5d5d; font-size:15px; padding:5px 0px 23px;}
		.common-connection-wrapper a i{display:inline-block; margin-right:3px; font-size:14px;}
		.common-connection-wrapper button{}


/********************************************************* Connection styling closed *********************************************************/

/****************start work************/
.nav_main{width:100%;display:inline-block; padding:60px 0px 100px 0px;}
.landing_nav{display:inline-block;float:right;}
.landing_nav > li{float:left;padding-left:42px;}
.landing_nav > li:first-child{padding-left:0px;}
.landing_nav > li > a{display:inline-block;color:#2d3b82;font-size:14px;margin-top: 7px;}
.right_people_text{width:100%;float:left;color:#2f3c81;font-size:48px;}
.right_place_text{float:left;color:#f36e21;font-size:24px;position:relative;}
.right_place_text:after{content: '';width: calc(100% - 70px);height: 1px;background: #ebecee;font-family: 'FontAwesome';position: absolute;top: 50%;left: 100%;margin-top: -.5px;margin-left: 50px;}
.landing_left_search_main{width: calc(100% + 80px);float: left;position: relative;background: #fff;box-shadow: 4px 14px 27px rgba(0,0,0,.1);margin:120PX 0PX 90PX 0PX;z-index:1;}
.landing_left_search_main input[type=search] {width:80%;float:left;color:#000000;font-size:20px;border:none;padding: 35px 10px 35px 30px;border-left:3px solid #744d5f;}
.search_btn{width: 20%;float: right;display: inline-block;position: absolute;height: 100%;top: 0;right: 0px;}
.search_btn:after{content:"\f061";font-family:'Font Awesome\ 5 Free';position: absolute;top: 50%;right: 50%;font-size:20px;line-height:20px;
margin-top:-10px;margin-right:-10px;color:#7c7c7c;cursor:pointer; font-weight: 900;}
.search_btn input[type=submit]{width: 100%;float: left;height: 100%;background:none;border:none;}
.landing_social_media{width:100%;display:inline-block;padding-left:40px;}
.landing_social_media li{float:left;padding-left:30px;}
.landing_social_media li:first-child{padding-left:0px;}
.landing_social_media li a{width:40px;height:40px;line-height:40px;border-radius:50%;text-align:center;display:inline-block;color:#9a9a9a;font-size:20px;border:1px solid #9a9a9a;}
.landing_social_media li:nth-child(1) a:hover{background:#55acee;color:#fff;border:1px solid #55acee;box-shadow: 0px 6px 5px rgba(0,0,0,.3);}
.landing_social_media li:nth-child(2) a:hover{background:#e95950;color:#fff;border:1px solid #e95950;box-shadow: 0px 6px 5px rgba(0,0,0,.3);}
.landing_social_media li:nth-child(3) a:hover{background:#3b5998;color:#fff;border:1px solid #3b5998;box-shadow: 0px 6px 5px rgba(0,0,0,.3);}
.landing_social_media li:nth-child(4) a:hover{background:#ff0000;color:#fff;border:1px solid #ff0000;box-shadow: 0px 6px 5px rgba(0,0,0,.3);}
.copy_right_text{width:100%;float:left;color:#000000;font-size:16px;padding:50px 0px 40px 40px;}
.bg_landing_page{display:block;position:relative;height:100%;}
.bg_landing_page_in{width:100%;display:inline-block;background: url(images/landing_right_bg.jpg) no-repeat center;background-size:cover;position:absolute;top:0px;left:0px;height:100%;}
.landing_right_height{width:100%;height:100vh;display:block;}
.landing_left_height{width:100%;height:100vh;display:block;}
.landing_login_main{width:65%; display:inline-block;position:absolute;top:50%;left:50%;background:#fff;padding:40px 30px 65px 30px;transform: translate(-50%, -50%);}
.landing_login_main:before{width:20px;height:75px;background:rgba(255,255,255,.5);position:absolute;top:0px;left:-20px;content:'';}
.landing_login_main:after{width:95px;height:20px;background:rgba(255,255,255,.5);position:absolute;top:-20px;left:-20px;content:'';}
.signin_text{float:left;color:#2f3c81;font-size:30px;position:relative;line-height:30px;padding-top: 10px;}
.signin_text:before{width:10px;height:50px;position:absolute;top:0px;left:-30px;content:'';background: #a35948; /* Old browsers */background: -moz-linear-gradient(45deg, #a35948 0%, #373e7d 100%); /* FF3.6-15 */background: -webkit-linear-gradient(45deg, #a35948 0%,#373e7d 100%); /* Chrome10-25,Safari5.1-6 */background:linear-gradient(45deg, #a35948 0%,#373e7d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a35948', endColorstr='#373e7d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */}
.signin_social{float:right;display:inline-block;}
.signin_social li{float:left;padding-left:10px;}
.signin_social li:first-child{padding-left:0px;}
.signin_social li a{width:60px;height:50px;line-height:50px;display:inline-block;background:#0077b7;border:1px solid #0077b7;color:#fff;font-size:20px;text-align:center;
border-radius:5px;}
.signin_social li:nth-child(2) a{background:#e24736;border:1px solid #e24736;}
.signin_social li:nth-child(3) a{background:#475993;border:1px solid #475993;}
.signin_social li a:hover{color:#0077b7;background:#fff;border:1px solid #0077b7;}
.signin_social li:nth-child(2) a:hover{border:1px solid #e24736;color:#e24736;background:#fff;}
.signin_social li:nth-child(3) a:hover{border:1px solid #475993;color:#475993;background:#fff;}
.mail_field{width:100%;float:left;color:#000000;font-size:16px;font-family: 'Lato', sans-serif;font-style:italic;background:#eff5f7;margin-bottom:20px;padding:20px;border:1px solid #e8eef2;border-left:2px solid transparent;}
.mail_field:focus{border-left:2px solid #2f3c80;}
.login_text_main{width:100%;float:left;margin-bottom:35px;}
/**********checkbox*************/
.check{display: inline-block;position: relative;padding-left: 30px;cursor: pointer;font-size: 13px;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;
user-select: none;line-height: 20px;color:#888888;}
/* Hide the browser's default checkbox */
.check input {position: absolute;opacity: 0;cursor: pointer;}
.check p {font-size: 13px;color: #888888;
}
/* Create a custom checkbox */
.checkmark {position: absolute;top: 0;left: 0;height: 20px;width: 20px;background-color: #eff5f7;border-radius:3px;border: 1px solid #eff5f7;
}
/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {background-color: #888888;}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {content: "";position: absolute;display: none;}
/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {display: block;}
/* Style the checkmark/indicator */
.check .checkmark:after {left: 6px;top: 2px;width: 6px;height: 11px;border: solid white;border-width: 0 3px 3px 0;-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg);
}
.forgot_pas{float:right;display:inline-block;color:#888888;font-size:13px;}
.login_btn{display: inline-block;position: absolute;bottom: -30.5px;right: -49px;box-shadow: 0px 27px 30px rgba(0,0,0,.5);border-radius:5px;}
.login_btn:after{content: '\f054 ';font-family: 'Font Awesome\ 5 Free';font-weight: 900;position: absolute;display: block;top: 50%;right: 18px;font-size: 16px;
line-height: 19px;margin-top: -8px;color:#5c476b;}
.login_btn input{display:inline-block;color:#5c476b;cursor:pointer;font-size:18px;padding: 20px 30px 20px 25px;background:#fff;border:none;border-radius:5px;}
.landing_login_main_page{width:100%;}
.landing_login_main_page .landing_colm_left{padding-left:50px;}
.assets_images{float: right;margin-bottom: 30px;width: 100px;text-align: center;padding: 5px 0px;font-size: 18px;background: #2f3c81;border:1px solid #2f3c81;color: #fff !important;border-radius: 5px;text-decoration:none;}
.assets_images:hover{border:1px solid #2f3c81;background:#fff;color:#2f3c81;}
.popup_close_icon{position: absolute;top: 5px;right: 10px;font-size: 20px;}
.profile_pic{width:60px;height:60px;float:left;}
.profile_pic img{width:60px;height:60px;display:inline-block;border-radius:50%;overflow:hidden;}
.profile_db_main{width:100%;float:left;padding:20px 0px;}
.profile_sec1_left{width:100%;float:left;background:#fff;box-shadow:1px 2px 2px rgba(0,0,0,.1);padding:10px;margin-bottom:10px;}
.profile_sec1_right{width:78%;float:right;display:inline-block;padding-top:7px}
.tech_heading{width:100%;float:left;color:#000000;font-size:24px;font-family: 'MyriadPro-Regular';}
.viewed_profile_ul{width:100%;float:left;margin-bottom:10px;}
.viewed_profile_ul li{width:49%;float:left;margin-left:2%;min-height:130px;background:#fff;box-shadow: 1px 2px 2px rgba(0,0,0,.1);text-align:center;padding-top:15px;}
.viewed_profile_ul li:first-child{margin-left:0px;clear:left;}
.viewed_text{width:100%;display:inline-block;color:#283a84;font-size:36px;}
.profile_view{width:100%;display:inline-block;color:#5d5d5d;font-size:16px;font-family: 'MyriadPro-Regular';}
.profile_view a{color:#283a84;}
.upgrade_sec{width:100%;display:inline-block;margin-bottom:10px;background:#fff;box-shadow: 1px 2px 2px rgba(0,0,0,.1);padding:25px 20px;text-align:center;}
.access_pera{width:100%;display:inline-block;color:#5d5d5d;font-size:16px;line-height:26px;padding-bottom:20px;}
.upgrade_btn{width:100px;display:inline-block;border:1px solid #e66f2a;background:#e66f2a;color:#fff;font-size:16px;padding:8px 0px;border-radius:5px;box-shadow: 2px 8px 8px rgba(0,0,0,.2);}
.upgrade_btn:hover{background:#fff;color:#e66f2a;border:1px solid #e66f2a;text-decoration:none;}
.suggestion_tab_main{width:100%;display:inline-block;box-shadow: 1px 2px 2px rgba(0,0,0,.1);margin-bottom:10px;background:#fff;}
.suggestion_text{width:100%;float:left;background:#f9fbfc;color:#283a84;font-size:20px;padding:15px 0px 15px 20px;box-shadow: 1px 2px 2px rgba(0,0,0,.1);}
.suggestion_tab_main .nav-tabs{border: none;padding: 12px 10px 0px 10px;display: inline-block;width: 100%;padding-bottom:10px;}
.suggestion_tab_main .nav-tabs > li{width:32%;margin-left:2%;}
.suggestion_tab_main .nav-tabs > li:first-child{margin-left:0px;text-align:center;}
.suggestion_tab_main .nav-tabs > li > a{width:100%;padding:10px 0px;border-radius: inherit;border:none;background:#eff5f7;color:#283a84;font-size:16px;text-align:center;}
.suggestion_tab_main .tab-content{padding:10px;}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{border:none;}
.tab_content{width:100%;color:#5d5d5d;font-size:16px;font-family: 'MyriadPro-Regular';}
.ad_your_feed{width:100%;float:left;padding:20px 15px 0px 15px;}
.ad_your_feed li{width:100%;float:left;margin-bottom:15px;}
.feed_follow_btn{width:85px;float:right; display:inline-block;font-size:13px;color:#fff;background:#2b3b82;text-align:center;padding:3px 0px;box-shadow: 2px 8px 8px rgba(0,0,0,.2);border-radius: 5px;margin-top:5px;border:1px solid #2b3b82;}
.feed_follow_btn:hover{border:1px solid #2b3b82;color:#2b3b82;background:#fff;text-decoration:none;}
.ad_fed_left{width:60%;float:left;}
.feed_img{float:left;}
.feed_img img{width:40px;float:left;height:40px;border-radius:50%;vertical-align:middle;display:block;}
.feed_right{width:74%;float:right;display:inline-block;}
.fed_nam{width:100%;float:left;color:#283a84;font-size:16px;}
.chairman_oil{width:100%;float:left;font-size:13px;color:#283a84;}
.feed_view_All{width:100%;float:left;color:#283a84;font-size:16px;padding-left:15px;margin:15px 0px 20px 0px;}
.suggestion_text i{float:right;padding:5px 10px 0px 0px;}
.pd_right_sec1{width:100%;float:left;padding:15px 15px 15px 15px;background:#fff;box-shadow: 1px 2px 2px rgba(0,0,0,.1);margin-bottom:10px;}
.publish_ul{width:100%;float:left;}
.publish_ul li{width:32%;float:left;margin-left:2%;}
.publish_ul li:nth-child(3n+1){margin-left:0px;clear:left;}
.publish_ul li:last-child{width:100%;margin-left:0px;}
	.publish_ul li ul li{display:block; width:100% !important;}

.share_update{width:100%;display:inline-block;text-align:center;color:#283a84 !important;font-size:16px;padding:8px 0px;background:#eff5f7;border:1px solid #e8eef2; font-weight:700;}
.share_update i{padding-right:10px;}
.share_update:hover{text-decoration:none;}
.publish_textarea{width:100%;float:left;background:#eff5f7;color:#000000;border:none;margin-top:10px;min-height:90px; padding:15px;font-size:16px; resize: none; outline:none;}
.file_upload_btn input[type="file"]{display:none;}
.file_upload_btn{width:100%;text-align:center; cursor:pointer;color: #283a84 !important;font-size: 16px;padding: 8px 0px;background: #eff5f7;border: 1px solid #e8eef2;}
.share_public_drop_down_main{width:70%;display:inline-block;float:right;margin-top:12px;}
.drop_down_main{width:70%;float:left;}
.drop_down_main li{width:100%;display:inline-block;}
.drop_down_main > li ul > li{display:block;}
.drop_down_anker{width:100%;float:left;background: #eff5f7;color: #000000 !important;padding: 9px;font-size: 16px;}
.drop_down_anker i{float:right;padding-top:4px;}
.drop_down_anker:hover{text-decoration:none;}
.share_btn{width:75px;display:inline-block;float:right;text-align:center;background:#283a84;color:#fff;font-size:14px;padding: 3px 0px;border-radius:5px;box-shadow: 2px 8px 8px rgba(0,0,0,.2);border: 1px solid #2b3b82;}
.share_btn:hover{border: 1px solid #2b3b82;color: #2b3b82;background: #fff;text-decoration: none;}
.drop_down_main > li ul{min-width:100%;}
.profile_db_comments_ul{width:100%;float:left;}
.profile_db_comments_ul > li{width:100%;float:left;margin-bottom:10px;background:#fff;box-shadow: 0px 2px 2px rgba(0,0,0,.1);}
.coment_sec1{width:100%;float:left;background:#f9fbfc;box-shadow: 1px 2px 2px rgba(0,0,0,.1);padding:10px;}
.coment_sec1_left{float:left;}
.coment_img{float:left;}
.coment_img img{width: 55px;float: left;height: 55px;border-radius: 50%;vertical-align: middle;display: block;}
.coment_content_right{float:right;display:inline-block;padding-left:20px;padding-top:10px;}
.post_name{width:100%;float:left;color:#283a84;font-size:14px; font-weight:700;}
.post_date{width:100%;float:left;color:#808080;font-size:10px; font-weight:700;}
.view_post_btn{width: 85px;display: inline-block;float: right;text-align: center;background: #283a84;color: #fff;font-size: 13px;padding: 3px 0px;border-radius: 5px;
box-shadow: 2px 8px 8px rgba(0,0,0,.2);border: 1px solid #2b3b82;}
.view_post_btn:hover{border: 1px solid #2b3b82;color: #2b3b82;background: #fff;text-decoration: none;}
.drop_down_main2{width:auto;float:right;margin-top: 15px;}
.drop_down_main2 li{display:inline-block; margin-left:10px;}
.drop_down_main2 li span{font-size:11px; font-weight:700; color:#666;}
.drop_down_main2 li ul li{display:block; margin:0px;}
.drop_down_anker2{display:inline-block;font-size: 16px;color:#2b3b82 !important;}
.post_content{width:100%;float:left;padding:25px 30px;background:#fff;}
.post_content p{width:100%;float:left;color:#676767;font-size:16px;line-height:18px;margin-bottom:25px;}
.post_outher2_main{width:100%;float:left;margin-bottom:25px;}
.post_comentleft2{float:left;}
.post_sm_img{float:left;}
.post_sm_img img{width: 40px;float: left;height: 40px;border-radius: 50%;vertical-align: middle;display: block;}
.other_name{float:left;padding-left:15px;color:#283a84;font-size:14px;margin-top: 7px; font-weight:700;}
.post_img{width:100%;float:left; text-align: center;}
.post_img img{max-width:100%;box-shadow:1px 2px 2px rgba(0,0,0,.1);}
.comments_ul{width:100%;float:left;margin-top:15px;}
.comments_ul li{width:33.33%;float:left;}
.comments_ul li a{display:inline-block;color:#2b3b82 !important;font-size:16px;}
.comments_ul li:nth-child(1){text-align:left;}
.comments_ul li:nth-child(3){text-align:right;}
.comments_ul li:nth-child(2){text-align:center;}
.comments_ul li a i{color:#a7a5a6;}
.comments_ul li a:hover{text-decoration:none;}
.ad_coment_main{width:100%;float:left;background:#e3ebee;padding:15px;}
.coment_white_sec{width:100%;display:inline-block;background:#fff;padding:5px;position:relative;border-radius:4px;border:1px solid #e8eef2;}
.file_upload_btn2 input[type="file"]{display:none;}
.file_upload_btn2{text-align:center; cursor:pointer;color: #283a84 !important;font-size: 20px;line-height:17px;margin: 9px 20px 0px 0px;}
.browse_coment_main{width:auto;float:right;position: absolute;top: 5px;right: 5px;}
.post_com_btn{width: 100px;display: inline-block;float: right;text-align: center;background: #283a84;color: #fff;font-size: 14px;padding: 2px 0px;border-radius: 5px;
box-shadow: 2px 8px 8px rgba(0,0,0,.2);border: 1px solid #2b3b82; margin-top: 8px;}
.landing_nav .dropdown-menu{left: 0px !important;right: auto !important;}
.public_view_main{width: 100%;float: left;padding: 20px 0px;}
.public_view_sec1{width:100%;float:left;box-shadow: 1px 2px 2px rgba(0,0,0,.1);background:#fff;margin-bottom:15px;}
.public_view_img{width:100%;float:left;position:relative}


.ah-veiw-left-area{}
.ah-veiw-left-area .ah-view-01{padding-bottom:20px; border-bottom:2px solid #d2d9dc; margin-bottom:30px;}
.ah-veiw-left-area .ah-view-01 .our-heading{}
.ah-veiw-left-area .ah-view-01 .our-heading{}
.ah-veiw-left-area .ah-view-01 .inner-profile{padding:20px 20px 0px 20px;}
.ah-veiw-left-area .ah-view-01 .in-left{float:left;}
.ah-veiw-left-area .ah-view-01 .in-left img{display:inline-block; max-width:43px; max-height:43px; border-radius:50%;}
.ah-veiw-left-area .ah-view-01 .in-right{padding-left:52px;}
.ah-veiw-left-area .ah-view-01 .in-right h4{color:#283a84; font-size:16px; font-weight:700;}
.ah-veiw-left-area .ah-view-01 .in-right h4 small{color:#5d5d5d; font-size:13px; margin-left:3px;}
.ah-veiw-left-area .ah-view-01 .in-right .text{color:#5d5d5d; font-size:13px; margin-top:5px;}

.ah-veiw-left-area .ah-view-02{padding-bottom:20px; border-bottom:2px solid #d2d9dc;}
.ah-veiw-left-area .ah-view-02 .our-heading{}
.ah-veiw-left-area .ah-view-02 .our-heading{}
.ah-veiw-left-area .ah-view-02 .inner-profile{padding:20px 20px 0px 20px;}
.ah-veiw-left-area .ah-view-02 .in-left{float:left; position:relative;}
.ah-veiw-left-area .ah-view-02 .in-left img{display:inline-block; max-width:94px; max-height:67px; border-radius:5px;}
.ah-veiw-left-area .ah-view-02 .in-left i{position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); color:#fff; font-size:20px;}
.ah-veiw-left-area .ah-view-02 .in-right{padding-left:105px;}
.ah-veiw-left-area .ah-view-02 .in-right h4{color:#283a84; font-size:16px; font-weight:700;}
.ah-veiw-left-area .ah-view-02 .in-right h4 small{color:#5d5d5d; font-size:13px; margin-left:3px;}
.ah-veiw-left-area .ah-view-02 .in-right .text{color:#5d5d5d; font-size:13px; margin-top:5px;}
.feed_view_All2{width: 100%;float: left;color: #283a84 !important;font-size: 16px;margin: 15px 0px 0px 0px;}

.ah-main-skills-wrapper{}
.ah-main-skills-wrapper .ah-skills-01{margin-bottom:15px;}
.ah-main-skills-wrapper .ah-skills-01 ul{}
.ah-main-skills-wrapper .ah-skills-01 ul li{border-bottom:1px solid #e5e5e5; padding:25px 25px;}
.ah-main-skills-wrapper .ah-skills-01 ul li .in-left{float:left;}
.ah-main-skills-wrapper .ah-skills-01 ul li .in-left img{display:inline-block; width:44px; height:44px;}
.ah-main-skills-wrapper .ah-skills-01 ul li .in-right{padding-left:55px;}
.ah-main-skills-wrapper .ah-skills-01 ul li h3{color:#4d4d4d; font-size:16px; font-weight:700;}
.ah-main-skills-wrapper .ah-skills-01 ul li h3 small{}
.ah-main-skills-wrapper .ah-skills-01 ul li .text{color:#4d4d4d; font-size:16px; margin-top:12px;}
.ah-main-skills-wrapper .ah-skills-01 ul li .text span{color:#586dee;}
.ah-main-skills-wrapper .ah-skills-01 ul li a{display:inline-block; color:#283a84; font-size:16px; font-weight:700;}
.ah-main-skills-wrapper .ah-skills-01 ul li a:hover{}

.ah-main-skills-wrapper .ah-skills-02{border-bottom: 2px solid #d2d9dc;}
.ah-main-skills-wrapper .ah-skills-02 ul{float:left; width:50%; padding:20px 0px;}
.ah-main-skills-wrapper .ah-skills-02 ul li{padding:15px 20px;}
.ah-main-skills-wrapper .ah-skills-02 ul li .in-left{float:left;}
.ah-main-skills-wrapper .ah-skills-02 ul li .in-left img{display:inline-block; width:48px; height:48px;}
.ah-main-skills-wrapper .ah-skills-02 ul li .in-right{padding-left:60px;}
.ah-main-skills-wrapper .ah-skills-02 ul li h3{color:#4d4d4d; font-size:16px; font-weight:700;}
.ah-main-skills-wrapper .ah-skills-02 ul li .text{color:#888; font-size:14px; margin-top:7px;}
.ah-main-skills-wrapper .seemorebutton{background:#fff; padding:20px 15px; border-top:1px solid #e5e5e5;}
.ah-main-skills-wrapper .seemorebutton a{display:inline-block; color:#283a84; font-size:16px; font-weight:700;}


.public_view_img img{max-width:100%;}
.public_in_main{width:100%;float:left;background:#fff;border-radius:5px;padding:20px;position:relative;}
.public_content_main{width:100%;float:left;background:#e3ebee;padding:20px;margin-top: -50px;border-radius:5px;}
.public_user_img{width:95px;float:left;margin-top: -67.5px;}
.public_user_img img{width:95px;height:95px;display:block;border-radius:50%;border:2px solid #e3ebee;}
.public_user_name{width:100%;float:left;color:#283a84;font-size:26px;margin:20px 0px 7px 0px;}
.public_user_content{width:100%;float:left;color:#4d4d4d;font-size:16px;padding-bottom:10px;}
.public_user_state{width:100%;float:left;color:#676767;font-size:14px;}
.public_sec1_ul{display: inline-block;position: absolute;top: -20px;right: 30px;}
.public_sec1_ul li{float:left;padding-left:20px;}
.public_sec1_ul li:first-child{padding-left:0px;}
.public_sec1_ul li a{width: 85px;display: inline-block;float: right;text-align: center;background: #283a84;color: #fff;font-size: 14px;padding: 3px 0px;border-radius: 5px;box-shadow: 2px 8px 8px rgba(0,0,0,.2);border: 1px solid #2b3b82;}
.public_sec1_ul li a:hover{border: 1px solid #2b3b82;color: #2b3b82;background: #fff;text-decoration: none;}
.public_sec1_ul2{width:100%;float:left;margin-top:20px;}
.public_sec1_ul2 li{width:48%;float:left;margin:0px 0px 20px 4%;}
.public_sec1_ul2 li:nth-child(2n+1){margin-left:0px;clear:left;}
.public_sec1_ul2 li:nth-child(1){width:60%;}
.public_sec1_ul2 li:nth-child(2){width:36%;}
.public_sec1_ul2 li:nth-child(3){width:60%;}
.public_sec1_ul2 li:nth-child(4){width:36%;}
.public_icon{float:left;padding-right:10px;}
.public_icon_text{float:left;color:#4d4d4d;font-size:16px;}
.highligts_sec{width:100%;float:left;box-shadow: 1px 2px 2px rgba(0,0,0,.1);margin-bottom:15px;}
.highlights_heading{width:100%;float:left;color:#283a84;font-size:20px;background:#f9fbfc;box-shadow: 1px 2px 2px rgba(0,0,0,.1);padding:15px 0px 15px 20px;}
.connection_div{width:100%;float:left;background:#fff;padding:30px 10px 30px 30px;}
.connection_ul{width:auto;float:left;}
.connection_ul li{float:left;}
.connection_ul li img{width:50px; height:50px;line-height:50px; border-radius:50%; overflow:hidden;}
.connection_ul li:nth-child(even){margin-left: -20px;margin-top: 10px;}
.connection_right_text{width:85%;float:right;display:inline-block;padding-top:6px;}
.mutual_text{width:100%;float:left;color:#283a84;font-size:16px;font-weight:700;padding-bottom:5px;}
.mutual_pera{width:100%;float:left;color:#4d4d4d;font-size:16px;}
.experience_ul{width:100%;float:left;background:#fff;padding:20px;}
.experience_ul li{width:100%;float:left;margin-bottom:30px;}
.experience_img{width:80px;float:left;}
.experience_right_content{width:85%;float:right;display:inline-block;}
.experience_title{width:100%;float:left;color:#283a84;font-size:16px;font-weight:700;}
.experience_descreption{width:100%;float:left;color:#4d4d4d;font-size:16px;}


.commentshow{padding-top:15px;}
.commentshow .in-left{float:left;}
.commentshow .in-left img{display:inline-block; border-radius:50%; width:45px; height:45px;}
.commentshow .in-right{padding-left:55px;margin-top:10px;}
.commentshow .in-right h3{font-weight:700; font-size:14px;}
.commentshow .in-right .text{font-size:14px; margin-top:10px;}
.commentshow .in-right ul{margin-top:10px;}
.commentshow .in-right ul li{display:inline-block; padding-right:10px;}
.commentshow .in-right ul li a{display:inline-block; text-decoration:none; color:#555;}
.commentshow .in-right ul li a:hover{}

.commentshow2{padding-top:15px; padding-right:30px; padding-left:30px;}
.commentshow2 .in-left{float:left;}
.commentshow2 .in-left img{display:inline-block; border-radius:50%; width:40px; height:40px;}
.commentshow2 .in-right{padding-left:50px;}
.commentshow2 .in-right h3{font-weight:700; font-size:14px;}
.commentshow2 .in-right .text{font-size:14px; margin-top:10px;}
.commentshow2 .in-right ul{margin-top:10px;}
.commentshow2 .in-right ul li{display:inline-block; padding-right:10px;}
.commentshow2 .in-right ul li a{display:inline-block; text-decoration:none; color:#555;}
.main-header-profile ul li > ul > li, .main-header-profile ul li > ul > li > a{display:block;margin:0px;padding:5px;}

.forget-main{width:100%;float:left;}
.invalid-feedback{float: left;padding: 0px 0px 5px 0px;}

/********************************************************* forget-page styling *********************************************************/

.forget-password-wrapper{background:url(../images/map-bg.png) no-repeat center; background: linear-gradient(#293a83, #ae5c43); width:100vw; height:100vh; position:relative;}
.forget-password-wrapper .inner-wrapper{width:440px; background:#fff; text-align:center; position:absolute; top:50%; left:50%; transform:translate(-50%, -50%); padding:40px;}
.forget-password-wrapper .inner-wrapper .logo-wrapper{}
.forget-password-wrapper .inner-wrapper .logo-wrapper a{}
.forget-password-wrapper .inner-wrapper .logo-wrapper a img{}

.forget-password-wrapper .inner-wrapper .forget-pas{margin-top:20px;}
.forget-password-wrapper .inner-wrapper .forget-pas a{color:#36508a; font-size:20px; font-weight:400;}
.forget-password-wrapper .inner-wrapper .forget-pas a:hover{}

.forget-password-wrapper .inner-wrapper .form-wrap{padding:30px 0px;}
.forget-password-wrapper .inner-wrapper .form-wrap input{display:block; padding:0px 10px; outline:none; border:none; width:100%; background:#eff5f7; height:55px; border-left:1px solid #2b3b82;}
.forget-password-wrapper .inner-wrapper .form-wrap button{display:block; outline:none; border:none; width:100%; background:#2b3b82; color:#fff; font-size:20px; text-align:center; height:55px; margin-top:15px;}
.forget-password-wrapper .inner-wrapper .form-wrap button:hover{}

.forget-password-wrapper .inner-wrapper .back-to-login{}
.forget-password-wrapper .inner-wrapper .back-to-login a{color:#36508a; font-size:16px; font-weight:700;}
.forget-password-wrapper .inner-wrapper .back-to-login a:hover{}

/********************************************************* forget-page styling closed *********************************************************/
/*********General popup css ****************/
.general_popup_in{width: 600px;display: inline-block;background: #fff;transform: translate(-50%,-50%);top: 50%;left: 50%;position: absolute;}
.close_popup{width:30px;height:30px;line-height:30px;cursor:pointer; display:block;background:#fff;color:#000;border-radius:50%;position:absolute;top: -7.5px;right: -7.5px;text-align:center;}
.general_popup_heading{width:100%;float:left;color:#283a84;font-size:20px;padding:15px;background:#f9fbfc;border-bottom: 2px solid #ececec;}
.popup_white_sec{width:100%;float:left;background:#fff;padding:20px;}
.popup_ul{width:100%;float:left;}
.popup_ul li{width:100%;float:left;margin-bottom:5px;}
.popup_ul li label{width:100%;float:left;color:#5d5d5d;font-size:16px;margin-bottom:5px;}
.popup_ul li input[type="text"]{width:100%;float:left;background:#eff5f7;color:#5d5d5d;font-size:16px;border:none;padding:10px;}
.popup_ul li input[type="email"]{width:100%;float:left;background:#eff5f7;color:#5d5d5d;font-size:16px;border:none;padding:10px;}
.popup_ul li input[type="tel"]{width:100%;float:left;background:#eff5f7;color:#5d5d5d;font-size:16px;border:none;padding:10px;}
.popup_ul li textarea{width:100%;float:left;background:#eff5f7;color:#5d5d5d;font-size:16px;border:none;padding:10px;}
.popup_ul li select{width:100%;float:left;background:#eff5f7;color:#5d5d5d;font-size:16px;border:none;padding:10px;outline:none;}
.popup_drop_down{width: 100%;display: inline-block;color: #283a84 !important;font-size: 16px;padding: 13px;background: #eff5f7;border: 1px solid #e8eef2;font-weight: 700;}
.popup_drop_down i{float:right;}
.popup_drop_down_main ul li{display: block;width: 100% !important;}
.popup_drop_down_main ul{width:100%;}
.popup_save_btn{float:right;font-size: 18px;background: #2b3b82;border: 1px solid #2b3b82;border-radius: 3px;padding: 5px 30px;text-align:center;color:#fff;box-shadow: 0px 5px 7px 5px #ececec;margin-top:10px;}
.popup_save_btn:hover{border: 1px solid #2b3b82;background:#fff;color:#2b3b82;}
.date_picker{width:100%;float:left;position:relative;}
.date_picker:after{content:"\f073";display:block;position:absolute;font-size:20px;line-height:18px;color:#283a84;top:50%;right:10px;margin-top:-9px; font-weight:600; font-family: 'Font Awesome\ 5 Free';}

/*********General popup css end ****************/

.edit_p_name{float:left;}
.edit_save_ul{float:left;}
.edit_save_ul li{float:left;padding-left:10px;}
.edit_save_ul li:first-cjild{padding-left:0px;}
.edit_p_name{float: left;font-size: 20px;border: 1px solid transparent;color: #000000;width: auto;background: none;}
.edit_p_name:focus{border: 1px solid #000000;}

/********************************************************* job listing styling *********************************************************/


section.job-listing-page-wrapper{padding:20px 0px;}
	.job-listing-filters{background:#fff; padding:15px;}
	.job-listing-filters .in-left{float:left;}
	.job-listing-filters .in-left .apperance{display:inline-block;}
	.job-listing-filters .in-left .apperance select{background:#eff5f7; height:35px; border:none; outline:none; margin:5px; padding:0px 15px; color:#283a84; font-size:14px; font-weight:400;}
	.job-listing-filters .in-left .apperance select option{}
	.job-listing-filters .in-left button{color:#283a84; font-size:16px; height:35px; font-weight:700; background:none; outline:none; border:none; padding:11px 15px;}

	.job-listing-filters .in-right{float:right; padding:11px 0px;}
	.job-listing-filters .in-right a{color:#283a84; font-size:16px; font-weight:700; text-decoration:none; display:inline-block;}
	.job-listing-filters .in-right a span{display:inline-block; background:#e3ebee; border-radius:50%; width:22px; height:22px; text-align:center; line-height:20px;}
	.job-listing-filters .in-right a:hover{}

	.job-listing-sorting{background:#f7f9fa; padding:8px 20px; margin-top:1px;}
	.job-listing-sorting .apperance{display:inline-block;}
	.job-listing-sorting .apperance label{color:#283a84; font-size:16px; font-weight:400;}
	.job-listing-sorting .apperance select{background:none; height:25px; border:none; outline:none; margin:5px; padding:0px 15px; color:#283a84; font-size:14px; font-weight:400;}
	.job-listing-sorting .apperance select option{}


	.job-liting-left-area{margin-top:20px;}
	.job-liting-left-area .job-alert{background:#fff; padding:10px; margin-bottom:20px;}
	.job-liting-left-area .job-alert .in-left{float:left; color:#000; font-size:13px; font-weight:400;}
	.job-liting-left-area .job-alert .in-left h5{}
	.job-liting-left-area .job-alert .in-left small{color:#777; margin-top:2px;}
	.job-liting-left-area .job-alert .in-right{float:right;}
	.job-liting-left-area .job-alert .in-right ul{}
	.job-liting-left-area .job-alert .in-right ul li{float:left; color:#000; font-size:13px; font-weight:400;}
	.job-liting-left-area .job-alert .in-right ul li .text{margin-right:10px; color:#000; font-size:13px; font-weight:400; margin-top:8px;}

	.job-liting-left-area .learining-school{background:#fff; padding:15px; margin-bottom:2px;}
	.job-liting-left-area .learining-school .dayss{float:right; color:#283a84; font-size:14px; font-weight:700;}
	.job-liting-left-area .learining-school .in-left{float:left;}
	.job-liting-left-area .learining-school .in-left img{width:56px; height:56px; border-radius:50%; display:inline-block;}
	.job-liting-left-area .learining-school .in-right{padding-left:65px;}
	.job-liting-left-area .learining-school .in-right h3{color:#283a84; font-size:16px; padding-bottom:10px; line-height:22px;}
	.job-liting-left-area .learining-school .in-right h5{color:#5d5d5d; font-size:15px; line-height:22px;}
	.job-liting-left-area .learining-school .in-right .text{color:#5d5d5d; font-size:14px; margin-top:5px;}
	.job-liting-left-area .learining-school .in-right span{display:block; color:#5d5d5d; font-size:16px; margin-top:10px;}
	.job-liting-left-area .learining-school .in-right span i{display:inline-block; margin-right:5px;}

	.job-liting-right-area{margin-top:20px;}
	.job-liting-right-area .learining-school{background:#fff; padding:15px; margin-bottom:2px;}
	.job-liting-right-area .learining-school .dayss{float:right; color:#283a84; font-size:14px; font-weight:700;}
	.job-liting-right-area .learining-school .in-left{float:left;}
	.job-liting-right-area .learining-school .in-left img{width:140px; height:140px; display:inline-block;}
	.job-liting-right-area .learining-school .in-right{padding-left:150px;}
	.job-liting-right-area .learining-school .in-right h3{color:#283a84; font-size:18px; padding-bottom:10px; line-height:22px; font-style:italic;}
	.job-liting-right-area .learining-school .in-right h5{color:#5d5d5d; font-size:15px; line-height:22px;}
	.job-liting-right-area .learining-school .in-right .text{color:#5d5d5d; font-size:14px; margin-top:5px;}
	.job-liting-right-area .learining-school .in-right span{display:block; color:#5d5d5d; font-size:16px; margin-top:10px;}
	.job-liting-right-area .learining-school .in-right span i{display:inline-block; margin-right:5px;}

	.job-liting-right-area .learining-school ul.save-apply{float:right;}
	.job-liting-right-area .learining-school ul.save-apply li{display:inline-block; margin-left:10px;}
	.job-liting-right-area .learining-school ul.save-apply li a{}
	.job-liting-right-area .learining-school ul.save-apply li a:hover{background:#e66f2a; border:2px solid #e66f2a; color:#fff;}

	.job-liting-right-area .job-discription{background:#fff; padding:30px 20px 40px;}
	.job-liting-right-area .job-discription h2{color:#283a84; font-size:24px; font-weight:700; padding-bottom:12px;}
	.job-liting-right-area .job-discription h3{color:#818181; font-size:16px; font-weight:700; margin-bottom:8px; line-height:22px;}
	.job-liting-right-area .job-discription .text{color:#818181; font-size:16px;}
	.job-liting-right-area .job-discription .inner{padding:15px 0px;}
	.job-liting-right-area .job-discription .inner h3{}
	.job-liting-right-area .job-discription .inner .text{}


.job-alert .switch {position: relative;display: inline-block;width: 60px;height: 34px;}
.job-alert .switch input {display:none;}
.job-alert .slider {position: absolute;cursor: pointer;top: 0;left: 0;right: 0;bottom: 0;background-color: #ccc;-webkit-transition: .4s;transition: .4s;}
.job-alert .slider:before {position: absolute;content: "";height: 26px;width: 26px;left: 4px;bottom: 4px;background-color: white;-webkit-transition: .4s;transition: .4s;}
.job-alert input:checked + .slider {background-color: #2196F3;}
.job-alert input:focus + .slider {box-shadow: 0 0 1px #2196F3;}
.job-alert input:checked + .slider:before {-webkit-transform: translateX(26px);-ms-transform: translateX(26px);transform: translateX(26px);}
/*Rounded sliders*/
.job-alert .slider.round {border-radius: 34px;}
.job-alert .slider.round:before {border-radius: 50%;}
/********************************************************* job listing styling closed *********************************************************/
/* ck additor */

.cke_reset_all{display:none;}
#cke_1_bottom{display:none;}
#cke_1_top{display:none;}

#cke_1_contents{height:90px !important;}

/* ck additor closed */
.new_btn_icn{display: inline-block;position: relative;padding: 10px 25px;font-size:14px;}
.new_btn_icn > i{position: absolute;top: -8px;right: -8px;color: #000;display:none;font-size: 12px;box-shadow: 1px 0px 6px rgba(0, 0, 0, .2); width: 20px;height: 20px;border-radius: 50%;line-height: 20px;background: #ffffffc7;}
.new_btn_icn:hover i{display: inline-block;}
.invalid-feedback {color: red;}

/* admin login */

.admin_login_bg{width:100%;float:left;background:url(../images/admin-login-bg.jpg) no-repeat left;background-size:cover;height:100vh;}
.admin_login_main{width: 470px;display: inline-block;background: #fff;transform: translate(-50%,-50%);top: 50%;left: 50%;position: absolute;padding:50px 20px;box-shadow:15px 0px 38px rgba(0,0,0,.4);}
.admin_login_text{width:100%;display:inline-block;text-align:center;color:#282828;font-size:36px;padding-bottom:30px;text-transform:uppercase;}
.admin_login_main_ul{width:100%;float:left;}
.admin_login_main_ul li{width:100%;margin-bottom:20px; float:left;border:1px solid #9d9d9d;padding:0px 10px;border-radius:5px;}
.admin_login_main_ul li input{width:96%;float:right;font-size:16px;color:#424242;padding:13px 0px 13px 10px;border:none;background:none;}
.admin_login_main_ul li i{float:left;padding-top: 16px;color:#a6a6a6;}
.admin_login_main_ul li input[type='submit']{width:100%;display:inline-block;background:#89c04e;color:#fff;border:1px solid #89c04e;font-size:20px;padding:13px 0px;box-shadow: -2px 6px 18px rgba(0,0,0,.1);text-transform:uppercase;}
.admin_login_main_ul li input[type='submit']:hover{background:#fff;color:#89c04e;border:1px solid #89c04e;}
.admin_login_main_ul li:last-child{padding:0px;}
.forgot_pasword_admin{width:100%;display:inline-block;text-align:center;color:#333333;font-size:16px;padding-top:10px;}

/* admin login closed */

@media(max-width:1199px){
	.landing_left_search_main{width:100%;margin: 70PX 0PX 60PX 0PX;}
	.landing_login_main{width:80%;}
	.landing_login_main_page .landing_colm_left {padding-left: 0px;}
	.right_people_text{font-size:40px;}
	.login_btn{right:0px;}
	.nav_main{padding: 30px 0px 70px 0px;}
	.lan_logo{float:left;width:150px;}
	.lan_logo img{max-width:100%;}
	.landing_nav > li > a{margin-top:3px;}
	.nav_main{padding: 30px 0px 40px 0px;}
	.experience_right_content{width:80%;}
	.connection_right_text{width:80%;}
	.public_icon_text{font-size: 12px;padding-top: 3px;}
	.ah-main-skills-wrapper .ah-skills-01 ul li .text{margin-top:0px;}
	
	/*********ahmad queries***********/
	/*********end queries***********/
}

@media(max-width:991px){
/*********ahmad queries***********/
.main-price-wrapper .site-heading h3{line-height:44px; font-size:32px;}
.signUp-flex2{padding:40px 30px;}
.ah-signUp-heading{padding:50px 15px;}
.site-logo-here{text-align:center;}
.site-logo-here{padding:10px 0px 0px;}
nav.main-site-menu-wrapper ul li a{padding:13px 20px;}
.admin-view-update .flexible{flex:auto;}
.admin-view-upgrade .flexible .content-here{padding-right:60px;}
/*********end queries***********/
}
@media(max-width:767px){
.removemobilepad{padding-left:0px; padding-right:0px;}
.removepadd{padding-right:15px; padding-left:15px;}
.landing_login_main {width: 90%;}
.landing_left_height{height:auto;display:inline-block;}
.landing_right_height{height: auto;}
.bg_landing_page{display: inline-block;height: auto;width: 100%;}
.bg_landing_page_in{position: static;top:inherit;left:inherit;height:inherit;padding:40px 25px;}
.landing_login_main{width:100%;position:relative;top:inherit;left:inherit;transform: none;}
.nav_main{padding: 30px 0px 30px 0px;}
.popup_padding{padding:50px 40px 0px 40px;}
.share_update{font-size:14px;}
.file_upload_btn{font-size:14px;}
.public_sec1_ul{position:static;width:100%;margin-top:20px;}
.public_sec1_ul2 li{width:100%;margin-left:0px !important;}
.public_sec1_ul2 li:nth-child(1), .public_sec1_ul2 li:nth-child(2), .public_sec1_ul2 li:nth-child(3), .public_sec1_ul2 li:nth-child(4){width:100%;}
.public_icon_text{font-size:15px;}
/*********ahmad queries**********wi*/
.removemobilepad{padding-left:0px; padding-right:0px;}
.removepadd{padding-right:15px; padding-left:15px;}
.main-price-wrapper .site-heading h3{line-height:31px; font-size:23px;}
.signUp-flex1{flex-basis:100%; display:auto;}
.signUp-flex2{flex-basis:100%; padding:40px 15px;}
.site-logo-here{padding:9px 0px;}
.main-header-search{padding:0px 0px;}
.main-header-profile{text-align:center; padding:9px 0px;}
nav.main-site-menu-wrapper ul{text-align:left;}
nav.main-site-menu-wrapper ul li{display:block;}
nav.main-site-menu-wrapper ul li a{padding:17px 20px; display:block;}
.admin-view-upgrade .flexible:nth-child(1){flex:auto;}
.admin-view-upgrade .flexible:nth-child(2){flex:auto; margin:auto 0px; clear:both;}
.admin-view-upgrade .my-container{display:block; text-align:center;}
.admin-view-upgrade .flexible .content-here{ float:none; display:inline-block; padding:0px 25px;}
.admin-view-upgrade .flexible .upgrade-button{text-align:center; padding-top:25px;}
/*********end queries***********/
}
@media(max-width:499px){
	.right_people_text {font-size: 26px;padding-bottom: 5px;}
	.right_place_text:after{display:none;}
	.landing_social_media{padding-left:0px;}
	.copy_right_text{padding: 50px 0px 40px 0px;}
	.lan_logo{width:150px;float:none;margin:0 auto;display:block;}
	.lan_logo img{max-width:100%;}
	.landing_nav{float: none;width: 100%;text-align: center;margin-top: 15px;}
	.landing_nav > li{float: none;padding-left: 20px;display: inline-block;}
	.right_place_text{font-size:20px;}
	.signin_social li a{width: 30px;height: 30px;line-height: 30px;font-size: 16px;border-radius: 0px;}
	.signin_text{font-size: 20px;line-height: 20px;padding-top: 6px;}
	.signin_text:before {height:30px;width: 5px;}
	.mail_field{padding:10px;}
	.landing_login_main{padding: 30px 10px 65px 10px;}
	.signin_text:before{left:-10px;}
	.popup_close_icon{top:0px;}
	.publish_ul li{width:100%;margin-left:0px;margin-bottom:10px;}
	.share_public_drop_down_main{width:100%;}
	.post_content{padding:20px;}
	.ad_fed_left{width: 100%;text-align:center;margin:10px 0px;}
	.feed_img{float:none;display:inline-block;}
	.feed_img img{float:none;}
	.feed_right{width:100%;}
	.feed_follow_btn{float: none;display: block;margin: 0px auto;clear: both;}
	.profile_view{font-size:14px;}
	.profile_sec1_right{width:75%;}
	.drop_down_main {width: 100%;margin-bottom: 11px;}
	.post_comentleft2{width:100%;margin-bottom:10px;}
	.comments_ul li a{font-size:10px;}
	.ad_coment_text{padding: 10px 10px 10px 10px;box-shadow: 0px 2px 2px rgba(0,0,0,.1);margin-bottom: 10px;}
	.browse_coment_main{position: static;}
	
	.ah-main-skills-wrapper .ah-skills-02 ul{width:100%;}
	.experience_right_content {width: 78%;}
	.public_sec1_ul li a{width:70px;font-size:12px;}
	.public_sec1_ul li{padding-left:7px;}
	.experience_right_content {width: 100%;margin-top: 10px;}
	.connection_right_text {width: 74%;}
	.public_in_main{padding:10px;}
	.connection_right_text {width: 100%;margin-top: 10px;}
	.public_icon_text{width:80%;}
	.experience_img {width: 80px;float: none;display: block;margin: 0 auto;}
	.admin_login_main{width:90%;}
	.admin_login_main_ul li input{width:93%;}
	/*********ahmad queries***********/
.admin-view-profile .inner-frofile .in-left .profile-name{padding-left:80px; padding-top:5px;}

.admin-view-profile .inner-frofile .in-left .profile-name h3{padding-bottom:8px;}
.admin-view-profile .inner-frofile .in-left img{max-width:70px; max-height:70px;}

.admin-view-profile .inner-frofile .in-left .profile-name a{margin-right:2px; padding:3px 10px; font-size:12px;}

.admin-view-recentUpdate .post-profile ul.comments-section li a{font-size:13px;}

.edit-profile-right-area .edit-profile01{padding:15px;}

.edit-profile-right-area .edit-profile01 .in-right h3{font-size:22px;}
.edit-profile-right-area .edit-profile01 .in-right h3 i{font-size:14px;}

.edit-profile-right-area .edit-profile01 .in-left .ed-profile img{height:80px; width:80px;}
.edit-profile-right-area .edit-profile01 .in-right{padding-left:95px; padding-top:20px;}

.edit-profile04 .adding-wrapper .our-heading h3{font-size:16px; line-height:30px;}

.edit-profile04 .adding-wrapper .our-heading a{width:120px; font-size:13px;}
.forget-password-wrapper .inner-wrapper{width:320px;}
.edit_p_name{width:60%;}

	/*********end queries***********/
}

